<div>
  <h1>index file</h1>
  <% allBeers.forEach(character=>{%>
  <img src="<%=character.image%>" />
  <h3><%=character.name%></h3>
  <% }) %>

  <img src="images/beer.png" />

  <button><a target="_blank" href=‘/beers’>Check the Beers!</a> </button>
  <!-- <button type="button" onclick="Check the Beers!="/beers"">link</button> -->
  <button type="button">Check a Random Beer!</button>


  
</div>
